<div class="container-fluid" style="height: 50px; background-color: #eb7f35">
  <div style="height: 15%"></div>
  <div class="text-white text-xl-left text-uppercase">
    <h1>Lista de pessoas</h1>
  </div>
</div>

<div class="container-fluid" style="height: 70px; background-color: transparent">
  <div style="height: 20%"></div>
  <div class="text-white text-xl-right">
    <button class="btn btn-enge" (click)="novaPessoa()"><i class="fa fa-plus"></i> Nova Pessoa</button>
  </div>
</div>

<div class="container-fluid">

  <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="row-border hover">
    <thead>
    <tr>
      <th>ID</th>
      <th>Nome</th>
      <th>Email</th>
      <th>Telefone</th>
      <th>Empresa</th>
      <th class=" text-center" style="width: 100px">Ação</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let person of persons">
      <td>{{ person.id }}</td>
      <td>{{ person.nome }}</td>
      <td>{{ person.email }}</td>
      <td>{{person.telefone  | mask: '(00) 00000-0000'}}</td>
      <td>{{ person.empresa }}</td>
      <td class="justify-content-between text-center">
        <button class="btn btn-enge" (click)="editar(person)"><i class="fa fa-edit fa-align-left"></i></button>
        <span style="width: 20%">&nbsp;</span>
        <button class="btn btn-danger" (click)="apagar(person)"><i class="fa fa-trash fa-align-right"></i></button>
      </td>
    </tr>
    </tbody>
  </table>

</div>

